@syntax-tag: #5db0d7;
@syntax-tag-attribute-name: #9bbbdc; // HTML
@syntax-html-tag: #5db0d7;
@syntax-html-sgml: #d9d9d9;
@syntax-html-string: #f29766; // HTML
// XML
@syntax-xml-doctype: #d9d9d9;
@syntax-xml-cdata: lighten(@syntax-html-string, 15%);

.syntax--punctuation.syntax--definition.syntax--tag.syntax--html {
    color: @syntax-html-tag;
}

.syntax--meta.syntax--tag.syntax--sgml.syntax--html {
    .syntax--punctuation.syntax--definition.syntax--tag.syntax--html {
        color: @syntax-html-sgml;
    }
}

.syntax--string.syntax--quoted.syntax--double.syntax--html,
.syntax--string.syntax--quoted.syntax--single.syntax--html {
    color: @syntax-html-string;
}
// XML

.syntax--meta.syntax--tag.syntax--preprocessor.syntax--xml {
    .syntax--entity.syntax--name.syntax--tag.syntax--xml {
        color: @syntax-xml-doctype;
    }
}

.syntax--meta.syntax--tag.syntax--sgml.syntax--doctype.syntax--xml {
    .syntax--keyword.syntax--other.syntax--doctype.syntax--xml,
    .syntax--meta.syntax--tag.syntax--sgml.syntax--doctype.syntax--xml {
        .syntax--variable.syntax--language.syntax--documentroot.syntax--xml {
            color: @syntax-xml-doctype;
        }
    }
}

.syntax--punctuation.syntax--definition.syntax--tag.syntax--xml {
    color: @syntax-html-tag;
}

.syntax--meta.syntax--tag.syntax--preprocessor.syntax--xml .syntax--punctuation.syntax--definition.syntax--tag.syntax--xml,
.syntax--meta.syntax--tag.syntax--sgml.syntax--doctype.syntax--xml .syntax--punctuation.syntax--definition.syntax--tag.syntax--xml {
    color: @syntax-html-sgml;
}

.syntax--string.syntax--unquoted.syntax--cdata.syntax--xml {
    color: @syntax-xml-cdata;
}